
.App-header {
  background-color: #a7c1f6;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-text-stroke: 2px #000000;
}

.App-link {
  color: #61dafb;
}

.reg-form {
  max-width: 500px;
  margin: 10px auto;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 0px #000000;
}

.list-form {
  max-width: 600px;
  margin: 10px auto;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 0px #000000;
}

label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  color: #333;
  align-items: center;
}

input::placeholder {
  color: #999;
  font-style: italic;
}

.add-button {
  background: #4285f4;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #3267d6;
}

.dotted-list {
  list-style: none;
  padding: 0;
  max-width: 100%;
  align-content: center;
  font-family: Arial, sans-serif; 
}

.dotted-list li {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 0; 
}

.dotted-list .number {
  flex-shrink: 0;
  font-weight: bold; 
}

.dotted-list .dots {
  flex-grow: 1;
  border-bottom: 2px dotted #333;
  height: 1em;
  margin: 0 4px;
  transform: translateY(-2px); /* вертикальное выравнивание точек */
}

.dotted-list .text {
  flex-shrink: 0;
  font-style: normal;
  font-size: 16px; 
}